@font-face {
  font-family: 'Frontage-Outline';
  src: url('fonts/frontage/Frontage-Outline.otf') format('opentype');
}

@font-face {
  font-family: 'Frontage-3D';
  src: url('fonts/frontage/Frontage-3D.otf') format('opentype');
}

@font-face {
  font-family: 'Frontage-Bulb';
  src: url('fonts/frontage/Frontage-Bulb.ttf') format('opentype');
}

@font-face {
  font-family: 'Bebas-Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Calluna';
  src: url('fonts/Calluna-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Fino-Sans-Medium';
  src: url('fonts/Fino-Sans-Medium.otf') format('opentype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.main-body, .about-content, .foods-content {
    background: #F7F5F2;
    text-align: center;
    height: 100%;
    margin: 0;
    
}

.wrapper, .about-content-wrapper, .foods-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow-y: auto;
    height: 100%;
    margin: 0;
}

/* General Rule: vertically center all pages whose full content fits about the fold */
.wrapper, .about-content-wrapper {
    justify-content: center;
}

.main-body ul, .about-content ul, .foods-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-body li, .about-content li {
    display: inline;
    list-style: none;
    font-size: 3.5em;
     @media (max-width: 500px) {
       font-size: 2.5em;
     }
     padding: 10px;
}

h1 {
    font-size: 5em;
    font-family: 'Fino-Sans-Medium';
    font-weight: normal;
    
    @media (max-width: 500px) {
        font-size: 2em;
    }
}

a {
    color: #000;
    text-decoration: none;
    
    &:focus,
    &:hover {
        opacity: 0.6
    }
}

.recipe-content {
    margin: 16px auto;
    padding-bottom: 16px;
    max-width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.recipe-content h2 {
    font-family: 'Bebas-Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.recipe-content .left-column {
    text-align: right;
}

.recipe-name {
    font-family: 'Bebas-Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
}
.recipe-name {
    position: relative;
}

.recipe-name::before {
  content: "";
  position: absolute;
  bottom: 12%;
  left: 12%;
  width: 80%;
  height: 0.5em;
  background: #DCAF83;
  z-index: -1;
}

.recipe-hero-img {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
}

.recipe-ingredients-background-line {
    width: 0.83em;
    height: "match-parent";
    background: #DCAF83;
    margin-left: 0.83em;
    margin-top: 0.83em;
    font-size: 32px;
}

.recipe-ingredients, .recipe-instructions {
    font-family: 'Calluna';
    font-weight: normal;
    font-size: 1.25em;
}

.recipe-ingredients {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-content: end;
    justify-content: end;
}

.recipe-ingredients ul {
    list-style: none;
}

.recipe-ingredients li:not(:last-child) {
    margin-bottom: 1em;
}

.recipe-instructions {
    margin-left: 34px;
}

.recipe-instruction-list-item-title {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-top: 0;
}

.recipe-instruction-list-item-number {
    font-family: 'Bebas-Neue';
    margin-right: 8px;
}

.recipe-instruction-list-item {
    display: grid;
    grid-template-columns: 5% 95%;
}

.recipe-instructions ol {
    list-style: none;
    padding-left: 0px;
}

.recipe-instructions li:not(:last-child) {
    margin-bottom: 2em;
}


.foods-content img {
    width: 400px;
}

.foods-content li {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.foods-content span {
    display: inline;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 12.5%;
    background: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Bebas-Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

/* Recipe Images (one or many) are 5 tall & 4 wide */
.recipe-instructions-one-image-container {
    height: 500px;
    margin-top: 20px;
}

.recipe-instructions-one-image-container img {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.recipe-instructions-two-image-container {
    height: 500px;
    margin-top: 20px;
}

.recipe-instructions-two-image-container img {
    width: 48%;
    height: 100%;
    object-fit: cover;
}

.recipe-instructions-two-image-container img + img {
    margin-left: 1%;
}
